# Enter your data and rename this file to '.env'

BOT_TOKEN= --- YOUR BOT TOKEN ---
DB_DNS=sqlite:///database.db

# Telegram client API connection data
# https://docs.telethon.dev/en/stable/basic/signing-in.html
API_ID=12345
API_HASH=0123456789abcdef0123456789abcdef

PHONE=+79999999999